[2021-09-14 21:29] wokket opened #1 "Discussion: General Roadmap"
G'day guys,

I just wanted to open a general discussion around where you want to head with this, your priorities, things we want to defer until later etc (and fair warning I haven't looked at the code yet, so Erik may have already ticked these boxes.

I've spent a bit of time pondering this and have some general ideas, but am obviously only one voice, and fully expect others to have had different

[2021-09-14 21:50] erikbra opened #2 "Set up build pipeline"
We need to set up a build pipeline. Try GitHub actions, as it's "close to the code".

- [x] Build single-file binaries for all platforms
   - win-x64
   - mac-x64
   - linux-x64
   - and probably more variants of the above
- [x] Build .net core global tool
~- [ ] Build docker image~
- [x] Run all tests (with databases in docker)
~- [ ] Create release/publish to chocolatey, nuget, apt-source, homeb

[2021-09-15 00:18] wokket opened #3 "Add support for `--drop` ?"
I started migrating an existing project over, and found there's currently no support for --drop.

We use this as part of our integration tests against localdb to drop and recreate the database from scratch for each run.

Is this a feature you're intentionally keeping out of scope for grate?  If it just hasn't been got to yet I'd like to add it to the (long) list of features that need doing :)

[2021-09-15 21:27] wokket opened #8 "Add support for specifying database version on the command line"
Previously RH used `--version` for this, but the .Net CommandLine libraries claim this for the application version.

I'm suggesting we add this using `--dbversion` instead to avoid conflicts if that's ok?

- [ ] Add flag
- [ ] Update Tests
- [ ] Update (create?) Migration Docco

[2021-09-16 12:56] #8 closed, assigned to wokket

[2021-09-16 23:02] wokket opened #18 "Add Support for TokenReplacement"
https://github.com/chucknorris/roundhouse/wiki/TokenReplacement

I need this for `alter database {{DatabaseName}} ...` scripts as we use different database names in each environment.

I'm suggesting we only do the baked in tokens initially, and do UserTokens later...

[2021-09-17 20:41] wokket opened #20 "Get a simple CI workflow running on each push"
Get a build and test CI action (no publish/release) running on push to feature branches so we know how broken things are _before_ raising a PR,

[2021-09-18 06:55] wokket opened #22 "Work out why SQL tests are 3x slower than others"

[2021-09-20 20:05] #18 closed, assigned to wokket

[2021-09-20 20:05] #20 closed, assigned to nobody

[2021-09-20 21:30] #3 closed, assigned to nobody

[2021-09-22 19:27] erikbra opened #31 "--warnandignoreononetimescriptchanges"
Warn on one time script changes, bug ignore them, do not run the changed script.

Do we want/need this?

[2021-09-22 19:29] erikbra opened #32 "--runallanytimescripts"
Run all anytime scripts on the run

[2021-09-22 19:32] erikbra opened #33 "--dryrun"
Just print out what would have been done, don't do it.

Is it as simple as adding another parameter to this method?
[code]

## Tasks:

- [ ] Do not copy the scripts to output folder on dryrun
- [ ] Do not run the scripts
- [ ] Do not record the scripts as run
- [ ] DO output the scripts as run
- [ ] DO compare the scripts with existing, perform all the logic, etc

[2021-09-22 19:34] erikbra opened #34 "--isuptodate"
Just return a true/false of whether the database is up to date or not. No output, just return true on up to date, and false if not.

Implies --disableoutput

[2021-09-22 19:35] erikbra opened #35 "--disableoutput"
aka silent. Make it run, but shut up about it.

[2021-09-22 19:36] erikbra opened #36 "--donotstorescriptsruntext"
Option to avoid storing the whole SQL text in the ScriptsRun table. Especially useful if running in small/embedded databases, where the grate tables can become a substantial part of the database size.

[2021-09-22 19:38] erikbra opened #37 "Document usage of Response files (.rsp)"
System.Commandline accepts response files containing the command line arguments. Document how to use them for grate.

See https://github.com/dotnet/command-line-api/blob/main/docs/Features-overview.md#response-files

[2021-09-22 19:53] erikbra opened #39 "Set up publishing of documentation"
~- [ ] Set up domain (github pages?)~
- [x] Make the 'docs' folder publish there (or something similar)

[2021-09-22 20:09] erikbra opened #40 "Replace comma in output folder"
Example output:

[code]

If the server name of the connection string contains a comma, replace that from the file name. I'm not sure every OS likes a comma in a file.

[2021-09-22 20:25] wokket opened #41 "Build Docker Example"
In preference to publishing a first class docker image (or just as a prelude to doing so) Build a small example showing how to build and publish a docker image for migrations.

I wish `dotnet` had support for `--example` like rust :(

- [x] basic dockerfile (based on a for-real RH project)
- [x] Get grate published as a dotnet-tool
- [x] Build docker-compose file to provide a dbase and migration i

[2021-09-23 18:56] #35 closed, assigned to erikbra

[2021-09-23 18:57] #1 closed, assigned to nobody

[2021-09-24 07:32] #39 closed, assigned to nobody

[2021-09-24 07:40] erikbra opened #53 "Make publishing of artifact only happen on "releases"?"
We publish some 100s of MBs of artifacts on each build, and use a loooot of storage. Would it make sense to only publish artifacts on "release" builds? (from a release/* branch, from tags, etc?)

[2021-09-25 11:05] wokket opened #54 "--baseline"
Record all scripts as having been run, but don't actually run them.

[2021-09-25 11:08] wokket opened #55 "Publish dotnet-tool"
Pre-release should be fine to begin with.

This is both a blocker for #41 and also a pre-req for me to start running grate against real-world projects for testing.

[2021-09-26 17:12] #40 closed, assigned to nobody

[2021-09-26 17:21] #31 closed, assigned to wokket

[2021-09-26 18:23] #36 closed, assigned to wokket

[2021-09-26 20:25] #53 closed, assigned to nobody

[2021-09-26 20:45] #55 closed, assigned to nobody

[2021-09-26 21:02] erikbra commented on #2
Nuget publishing is done: https://www.nuget.org/packages/grate/

[2021-09-26 21:25] #2 closed

[2021-09-26 21:26] erikbra opened #59 "Publish to chocolatey (if desired)"
https://docs.chocolatey.org/en-us/create/create-packages

[2021-09-26 21:26] erikbra opened #60 "Publish to Linux package manager (.deb)"

[2021-09-26 21:26] erikbra opened #61 "Publish to homebrew"

[2021-09-26 21:28] erikbra opened #62 "Create really small docker image - with usage examples"
Can use one of the self-contained binaries - no .NET needed on base images.

- [ ] Document how to work with volumes
- [ ] Document how to use in a k8s scenario(?)

[2021-09-27 02:50] wokket commented on #62
Do we want to be responsible for maintaining a docker image (updating base dependencies, handling security updates etc) or is the example usage I'm doing for #41 enough to get started?

[2021-09-28 08:08] wokket opened #67 "Re-order the MigrateCommand options"
The options are currently in a pretty random order (mainly because I keep tacking things on the end!).

We should get them added in some sort of logical order (Most important first? Alphabetical?  The same as RH?)

[2021-09-29 06:01] wokket commented on #62
FYI I had a crack at starting this as part of #41 .  There's a few things that have made life more difficult than it should but there's something resembling a working sample coming when I PR that feature branch.  Main gotchas so far include:
- adding the globalisation libraries into Alpine so SQL can work (I have to do this for RH/my apps as well so no biggie)
- the global.json has to be ignored d

[2021-09-29 20:58] #32 closed

[2021-10-07 17:34] #33 closed

[2021-10-07 18:46] #54 closed, assigned to wokket

[2021-10-07 19:11] erikbra opened #68 "Include a NuGet README.md in the nuget tool"
To make the package presentation on nuget.org better, make user a README file is included in the NuGet package, as described here: https://docs.microsoft.com/en-us/nuget/nuget-org/package-readme-on-nuget-org

[2021-10-08 16:23] erikbra opened #69 "Create/publish MSI"
Create installers in the `installers/msi` folder.

WIX is possibly the best alternative:
* https://wixtoolset.org/
* https://www.firegiant.com/wix/tutorial/

PROs: Free, command-line
CONs: .NET 4.x dependent (maybe harder to run in GitHub actions?

[2021-10-08 20:59] wokket commented on #69
FWIW I have no interest in MSI's anymore, a combo of dotnet global tool and docker is all my clients are using these days, but it you wanted to support it feel free 👍

[2021-10-08 21:01] wokket opened #71 "Publish grate docker image to Docker Hub"
Once we get a dockerfile added to the repo (via #62) get it published to DockerHub by the release pipeline.

[2021-10-09 15:36] #37 closed, assigned to nobody

[2021-10-09 15:39] erikbra commented on #71
I'm not totally sure how people would use the docker images, though, as opposed to a simple binary. We should definitely add mapping up volumes, etc, in the guidance.

If running in a production (e.g. Kubernetes) cluster, maybe a "watch" mode would be nice?

Do you use containers with RoundhousE on a day-to-day basis? How do you use them?

[2021-10-09 15:42] erikbra commented on #69
Yes, I see that pov. However, dotnet global tool is dependent upon dotnet SDK, which is quite large. So it would be nice to distribute a bit more light-weight on the dependencies too. I'm thinking chocolatey, winget, etc. But they are sooooo complex. I just want to distribute a binary, ffs 😆 I see that winget supports either msi or exe distribution, but I didn't quite understand the exe one. I thi

[2021-10-10 06:01] wokket commented on #34
FYI I started to look into this and it got a bit messy pretty quickly.

RH has a dedicated process for this that is completely separate to the other operations.  I looked into adding a separate command just for IsUpTodate, and also played with hacking it into the existing codepath, and neither one seemed like a super smooth change.

As I have never used this option I'm disinclined to spend too muc

[2021-10-10 11:15] erikbra commented on #34
Thanks for looking into it. I think using dryrun would solve much of the same use cases. I've never used the isuptodate myself either. I'm thinking a workflow first using --dryrun, then looking at the result, and running without --dryrun would work nicely. I use that approach with helm/helmfile, and I think it's been a good experience up until now.

Should we just park this one, then?

[2021-10-10 11:18] erikbra opened #76 "Lower severity of "skipped" lines to "Debug"?"
I have thought a bit about lowering the level of logs on the "skipped" lines to "Debug", so that only what is actually applied is output by default, how do we feel about that? We would get the full list if setting the verbosity to Debug on the command line.
I think it would make it easier to see what wat actually run in the output.

Thoughts?

[2021-10-10 11:19] wokket commented on #34
Yep, happy to park this until we get a better handle on the use case (or someone to build it out!)

[2021-10-10 11:28] erikbra commented on #69
Solved with PR #74

[2021-10-10 11:28] #69 closed

[2021-10-10 11:31] erikbra opened #77 "Publish to winget"
Start here:
* https://docs.microsoft.com/en-us/windows/package-manager/package/manifest
* https://github.com/microsoft/winget-create
* https://www.infoworld.com/article/3611365/getting-started-with-winget-the-windows-package-manager.html

[2021-10-10 11:54] erikbra commented on #76
The colours do come "for free" (i.e., it is already implemented) ;)

https://github.com/erikbra/grate/blob/6ede10426d71cebd467a4e38fa63d62e0ca926ae/grate/Infrastructure/GrateConsoleFormatter.cs#L75

I see the back compat challenge, however, I don't feel 100% backwards compat should be a goal. If we want, we _might_ introduce a `--roundhouse-compat` switch, which sets output level to debug, and set

[2021-10-10 11:57] #34 closed, assigned to nobody

[2021-10-10 19:38] wokket commented on #71
If people are running a multi-app, multi-db cluster and want real-time push-based deployments they know much more than me about k8s and can provide a demo themselves 🤣   I hadn't realised you were pushing an image like that in the release so I'll go have a look.  My suspicion is it's missing the required i8n libs per https://github.com/erikbra/grate/issues/62#issuecomment-929860708 but I'll find o

[2021-10-10 20:12] wokket opened #79 "Sign the .msi to avoid security warning"
As the .msi is unsigned Windows prompts with the blue screen re: unknown publisher.

This is both a usability thing and may well prevent the installer being run in some environments which require signed installers on servers.

[2021-10-10 21:32] erikbra opened #81 "Create Alpine Linux package"
https://wiki.alpinelinux.org/wiki/Creating_an_Alpine_package

(See also #60 , probably some lessons to be learned there).

Maybe a good idea to build this in a container, as there are so many environment requirements to building an alpine package

[2021-10-11 19:52] #71 closed, assigned to erikbra

[2021-10-11 20:05] erikbra commented on #62
FYI: Docker image is now available on Docker hub:

https://hub.docker.com/r/erikbra/grate

[2021-10-11 20:26] erikbra opened #89 "Bug creating migration folder in docker image"
There seems to be a bug, when creating the migrations folder in the container. I get the following:

[code]

Repro:

* Copy your database scripts to the `./my_scripts` folder.
* Create an environment variable, CONNECTIONSTRING, on the host,with your connection string.
* Create a simple Dockerfile like this:

[code]

* build and run it like this:

[code]

Observe the error.

[2021-10-11 20:57] erikbra commented on #62
It should be possible to create a simple Dockerfile like this now:

[code]

and, then build and run it like this, provided you have your connection string in an environment variable, CONNECTIONSTRING, on the host.

[code]

There seems to be a bug (#89), however, when creating the migrations folder in the container. I get the following:
[code]

[2021-10-11 21:01] #89 closed, assigned to erikbra

[2021-10-11 21:06] #62 closed

[2021-10-11 21:07] erikbra commented on #89
Pseudo, schmeudo... it's working ;)

[2021-10-12 11:42] erikbra opened #93 "This is just to brag: grate is live in winget :)"
## I got it in the winget repo!

First "external" package manager after NuGet.

[code]

![image](https://user-images.githubusercontent.com/1628994/136949724-6c1b7671-536f-4cd4-b8a0-0adc5103a003.png)

(https://github.com/microsoft/winget-pkgs/pull/29982)

//cc @wokket

[2021-10-12 12:08] #77 closed, assigned to erikbra

[2021-10-13 04:31] OzBob opened #97 "Create Wiki pages for First time user"
After using Winget or downloading the latest Release, how could a first time user with a dacpac(?) use Grate to connect to a client SQL Database, publish schema changes, and execute custom SQL data updates?

[2021-10-13 11:45] #93 closed, assigned to nobody

[2021-10-13 11:46] #60 closed

[2021-10-13 13:28] erikbra opened #99 "Add SqLite support"

[2021-10-14 02:50] OzBob commented on #97
Thanks for the work on the wiki and Getting Started and I look forward to exploring Grate.

I happily discovered MSBuild.Sdk.SqlProj this project for DACPAC processing by @jeffrosenberg and @ErikEJ https://github.com/rr-wfm/MSBuild.Sdk.SqlProj/

[2021-10-14 03:11] wokket commented on #97
If you're starting from raw .sql files then RH/grate can probably work for you, unless you have to have a .dacpac for some reason...

[2021-10-14 04:29] OzBob commented on #97
@wokket i've got 80+ clients to distribute the latest version of the DB schema and a some data updates/migrations too. dacpac was the 'schema bit', but if i can follow the Getting Started then I'll give grate a go.

[2021-10-14 06:02] OzBob commented on #97
404'ing on
https://github.com/erikbra/grate/blob/main/script-types/one-time
https://github.com/erikbra/grate/blob/main/script-types/anytime
on
https://github.com/erikbra/grate/blob/main/docs/GettingStarted.md

i'll come back next 'release' for some docs/guidance/examples

[2021-10-14 23:33] wokket opened #101 "Environment scripts incorrectly running when no environment set"
RH doesn't run a .ENV script unless the environment is specifically specified (https://github.com/chucknorris/roundhouse/blob/master/product/roundhouse.core/environments/DefaultEnvironment.cs#L26) but grate is running those scripts by default (https://github.com/erikbra/grate/blob/main/grate/Migration/DbMigrator.cs#L164)

[2021-10-15 20:22] erikbra commented on #101
Good catch, btw! Thanks!

[2021-10-16 00:38] #99 closed, assigned to erikbra

[2021-10-16 00:44] #41 closed, assigned to wokket

[2021-10-16 00:45] #97 closed

[2021-10-17 15:03] erikbra opened #106 "Oracle support"
I won't let this slide just yet. The blocking barrier was just connecting to an  Oracle database (in a container) without having to have TNSNAMES.ORA files, but this should be possible. I won't give up! :)

Try these:
* https://stackoverflow.com/a/6239416/25338
* https://hub.docker.com/r/oracleinanutshell/oracle-xe-11g (look at the recipe there)

[2021-10-19 03:54] OzBob opened #108 "previously run version 1.0 scripts re-run when use version 1.1"
I'm seeking clarification on the use of the --version option mentioned in #8

If I use the [example script powershell](https://github.com/erikbra/grate/blob/main/examples/local/run-migration.ps1#L10):

[code]

It all works fine.

If I run it a 2nd time with the env=Test, it works as described and only the 'Test' script from the 'up' folder is executed, but...

Change the ```--version=1.1``` and it

[2021-10-19 17:18] erikbra commented on #108
It definitely looks like we have a bug on the version_id, @wokket . It should be fairly easy to write a test that demonstrates it, I should think, and maybe even fix it. The error must be in VersionTheDatabase, I think. I can have a quick look.

[2021-10-20 09:43] erikbra commented on #108
@OzBob , we did have a bug related to the version number in the ScriptsRun table not being updated. But I don't think that has anything to to with the issue you reported.

@wokket struggled to reproduce the original issue you reported. Could you please double-check that you see the same behaviour, if you test again?

[2021-10-20 09:58] erikbra commented on #108
Reopened, waiting for comments

[2021-10-21 03:41] #108 closed, assigned to nobody

[2021-10-21 21:43] erikbra opened #112 "Add a "status" column to the Version table"
Ref.
* https://github.com/chucknorris/roundhouse/issues/246
* https://github.com/chucknorris/roundhouse/issues/374

[2021-10-21 21:48] erikbra opened #113 "Check behaviour of Everytime/Anytime scripts, and one-time scripts, wrt and hashing"
Ref https://github.com/chucknorris/roundhouse/issues/424

* What does grate do if an Anytime/Everytime script is changed, and re-run?
* What does grate do if we change a one-time script, and we run with `--warnononetimescriptchanges`
* On the _next_ run, make sure we use the _latest_ run of the script to compare the hash, not a random one.

[2021-10-21 21:51] erikbra opened #114 "Evaluate the point of the modified_date column on the Version, ScriptsRun and ScriptsRunErrors tables"
* There is always a new entry in the tables on each run
* Do we ever update the modified_date, or is it always equal to entry_date?
* If we don't ever update it, could we think of a scenario where we should have?

[2021-10-21 21:54] erikbra opened #115 "Make sure we support Azure SQL databases with all kinds of strange authentication types"
Ref. https://github.com/chucknorris/roundhouse/issues/343

* Username/password
* AD username/password
* AD username/password with MFA
* Token
* _others_?

[2021-10-21 21:58] erikbra opened #116 "Create sample github actions / AzDevOps pipeline"
Demonstrate how to use grate in a pipeline, e.g. Azure Devops pipelines or github actions
1. Get artifacts (db scripts) from somewhere
2. Run grate with --dryrun
3. Create a manual "verification" step
4. Run grate without --dryrun

Should provide for a nice workflow in DevOps (the method of working, not the MS Tool itself) organizations.
Maybe just create a whole separate example repo, with a buil

[2021-10-21 22:00] erikbra opened #117 "Create more complete example of using grate in a container (k8s, etc)"
How could one use grate in a Kubernetes setting?
* Init container?
* etc

Maybe @wokket s examples are enough. Verify 😄

[2021-10-23 01:46] wokket commented on #117
You're on your own here mate, I have no desire to play in the k8s space for this stuff...  we run live migrations in k8s, but literally just `kubectl run --restart=never` an image built like the samples...

[2021-11-03 17:47] bptillman opened #126 "Add support for restoring from backup then migrate"
Since this one is a blocker for people at my org giving grate a try, I figured I'd write up an issue to get this tracked. This would mimic the RestoreAndRun mode defined [here](https://github.com/chucknorris/roundhouse/wiki/RoundhousEModes) that Roundhouse has by using some similar [restore configuration options](https://github.com/chucknorris/roundhouse/wiki/ConfigurationOptions#restore-options)

[2021-11-05 08:33] erikbra commented on #126
Hi, @bptillman , thanks for contributing!

Personally, I have never used the "restore" mode of RoundhousE, so I'm a bit blank to the scenarios it supports, or what people use it for.

My first hunch is that this maybe is something that is better handled outside of grate, as the options for backup and restore are so diverse depending on your environment, i.e. whether you are in the cloud, if you us

[2021-11-05 08:33] erikbra commented on #108
Lovely!

[2021-11-05 08:41] wokket commented on #126
I'll let @bptillman  talk to his side of things, but I know back when we used on-prem databases we used this _all the time_.  Everytime we did a test deploy we'd restore the current prod db to give us as much confidence as possible that everything would be ok at prod deploy time.  Doing this using RH meant we didn't need to build out [custom powershell | TSql+SqlCmd | Custom app | ??]  tooling to

[2021-11-05 15:30] ajepst commented on #126
@erikbra I think your Cloud-first approach makes sense, but I wouldn't abandon a tool like restore. The "restore" method is particularly useful for onboarding existing projects into roundhouse.  Speaking as a consultant, I frequently encounter projects out there that are sitting on an an on-prem database and where the team currently does manual migrations ad-hoc... and probably don't have their ol

[2021-11-05 15:52] bptillman commented on #126
What @ajepst and @wokket stated covers my thoughts around it pretty well actually. To keep this issue as slim as possible, perhaps it could be implemented for just SQL Server bak files, which would cover all of our use cases for this feature and then address adding support for others if its asked for? Or if it has to be keep out of the main code of grate, instead of a developer having to write the

[2021-11-08 22:08] erikbra commented on #126
Hi, again, folx. Thanks for chiming in, and bringing good arguments to the table. I'm of course open to taking this feature in, as long as it's useful to people, and it's not too big of a feature, or too "odd" compared to the other features. I'd be very happy to take a look, @bptillman , how's the implementation going? Is the "restore" functionality a part of Microsoft.Data.SqlClient, or does it r

[2021-11-08 22:30] wokket commented on #79
The more I think about this the more I think people are heading down the pre-built-executable/winget/docker/etc path these days.

This is still a good idea, just increasingly irrelevant.  Closing.

[2021-11-08 22:30] #79 closed

[2021-11-08 22:43] erikbra commented on #79
I wholeheartedly share both your opinions on both necessity and irrelevance.

[2021-11-09 22:39] docrinehart commented on #126
I'll throw my hat in for another vote on this feature. For the aforementioned geodata and manually migrated database scenarios. Both are in abundant supply in the DoD world...

[2021-11-10 04:42] bptillman commented on #126
The way I was currently looking at implementing it was with a `DbCommand`, similar to the `DropDatabase` method already implemented, and then building up the restore database command text with the file path passed into grate as a command line option. What do you think about that?

I also agree about simplifying things to just have the one `--restore` or `--restorefrom` command line option instead

[2021-11-10 20:48] erikbra commented on #126
Yes, that makes sense, just put it after the drop and create here:

![image](https://user-images.githubusercontent.com/1628994/141190437-b8576275-ceb1-44b3-a816-e43455efb7e2.png)

And, in effect, the SQL executed should just be something along the lines of:

[code]

(replace with the actual file)?

[2021-11-10 21:43] bptillman commented on #126
Yup that is exactly where I added the call to restore, if the restore path has been specified, and the code itself is pretty similar. I took a look at how Roundhouse did it and they first set the db to single user, do the restore, then go back to multi user so that is how I have done this as well.
I have it working and did a manual test to prove it works as of right now, but before submitting a PR

[2021-11-10 22:18] #68 closed

[2021-11-10 22:22] erikbra commented on #126
Very good! :)

Writing a test shouldn't be too hard, should it? You could just include a small .bak file in the repo (if it's not more than some kBs), run a restore, and check that the data from the .bak file is there?

[2021-11-13 22:21] erikbra commented on #126
@bptillman - please feel free to give me a shout out if you would like to discuss this more before it is "ready for merge" too. If you like, you can open a pull request, just for the discussion, and we can have a look at it together, if you feel like it.

No pressure, by all means, just if you feel the need to discuss underway 😄

[2021-11-14 18:12] erikbra commented on #116
This one is done :)

[2021-11-14 18:12] #116 closed

[2021-11-15 16:00] bptillman commented on #126
@erikbra I was thinking the same thing about opening a draft PR for it and we can discuss any changes further there. So I'll get that opened shortly.

[2021-11-15 20:17] erikbra commented on #126
Great! Just ping me when you feel you have someting to discuss!

[2021-11-21 19:16] #106 closed

[2021-11-22 15:07] docrinehart opened #140 "Skipped migration scripts not listed when running grate"
**Describe the bug**
While running "dotnet grate" with only a connection string, the migrations run successfully but the skipped scripts are not listed in the tool output.

**To Reproduce**
- Create new up script
- Execute grate with connection string
- After initial execution succeeds, verify database is created/updated
- Re-execute grate
- Observe that the up script is not listed in the tool out

[2021-11-22 22:04] erikbra commented on #140
Thank you for your report. It is actually not a bug, but a feature, as I have drowned in miles and miles of logs both in RoundhousE and helmfile (for Kubernetes changes), and been annoyed by the not-so-interesting output (for me, at that moment).

If you want to see all the lines, there's a `--verbosity` switch that will give you all the scripts, if you increase it. If I'm not mistaken, the script

[2021-11-23 02:37] docrinehart commented on #140
Good call. I guess I just got so used to seeing it by default on a lot of greenfield projects... but I can imagine that a project that's been doing it awhile could be burdensome. Not to overload this ticket then, but wouldn't it also make sense to skip output of the extra dividers and whitespace then to trim the output back?

Perhaps showing something like:
[code]

and/or checking for a directory

[2021-11-23 02:37] #140 closed

[2021-11-23 21:43] erikbra commented on #140
I definetely agree with you, @docrinehart - it would make much sense either to drop or minify the output on folders with no new scripts, or change them to make it clear that, yes, we have actually looked, but we didn't find anything new.

Same with non-existant folders. We could output that we look for them in "debug"/"verbose" mode, but not in "info" mode.

Would you care to please formulate this

[2021-11-24 19:48] docrinehart opened #142 "Minimize console output for folders that are nonexistent or with no new scripts"
Since grate will suppress console output for skipped files by default, it would make sense to skip output of the extra dividers and whitespace to trim unnecessary content as well. This will help to eliminate noise when verifying that scripts are detected and run appropriately.

Perhaps showing something like:
[code]

and/or checking for a directory before output to enable simplifying the message t

[2021-11-24 20:17] docrinehart opened #143 "Potentially false-passing unit tests"
When setting up the grate repo for local development, I noted that (specifically with MS SQL Server), many of the test runs resulted in failed connection attempts:

![image](https://user-images.githubusercontent.com/5891405/143307287-b325b9e9-53c0-49f0-88f8-fd9c90acb6f0.png)

However, the last few tests connected successfully, and the final test report doesn't report any test failures. I'd like to

[2021-11-28 22:36] #126 closed

[2021-11-29 14:57] ninjabadgerpirate opened #145 ""The certificate chain was issued by an authority that is not trusted" error after migrating from Roundhouse"
I have taken an existing Roundhouse project that targets MSSQL, installed Grate as a DotNet Tool, adjusted the parameters that were incompatible with Grate, and then run the grate command and I am seeing the following error:

Unhandled exception: Microsoft.Data.SqlClient.SqlException (0x80131904): A connection was successfully established with the server, but then an error occurred during the logi

[2021-11-30 22:12] erikbra commented on #145
I _think_ this might have to do with the default encryption of the conneciton to SQL server in Microsoft.Data.SqlClient v 4.0. See the release notes for v 1.0.0: https://github.com/erikbra/grate/releases/tag/1.0.0 (See the headline "Breaking-ish change").

Does is work if you add `;Encrypt=false` to your connection string?

[2021-11-30 22:16] erikbra commented on #143
I'm pretty sure this is as expected, as we try to open a connection to the database to see if it exists, but I'll look into it. I think it's just the test output log sink that doesn't vary the output between Debug, Trace, Info, Warning, or Error severity. But I'm only 95% sure, so I'll try to look into it :)

[2021-11-30 22:22] erikbra commented on #145
I don't know which shell you use (cmd.exe, pwsh, whatnot), but You might need to put the connection string in quotes too, like this (remove the line breaks):

[code]

[2021-12-03 14:51] jbergens commented on #145
I just had this error when testing locally but I fixed it by adding this to my connectionstring:

`;TrustServerCertificate=True`

[2021-12-03 17:59] docrinehart commented on #143
I did a little digging myself, and I think that is correct. It looks like it just pauses briefly at a place where it shows in the output prior to logging the output from the script folder logic... I'll close for now unless something comes up since all the tests are passing.

[2021-12-03 17:59] #143 closed

[2021-12-05 15:21] erikbra commented on #145
Lovely. Do come back if you have any further issues!

[2021-12-05 15:21] #145 closed

[2021-12-15 19:41] erikbra opened #150 "Support equally named scripts in subfolders"
("stolen" from https://github.com/chucknorris/roundhouse/issues/444)

**Is your feature request related to a problem? Please describe.**
When developing with sub-folders under a RH folder (e.g. /Up/tables/table_1, /Up/tables/table_2), if two scripts have the same name (e.g. /Up/tables/table_1/init.sql, /Up/tables/table_2/init.sql), RH will mistakenly overwrite the entry in ScriptsRun with the text

[2021-12-16 22:08] erikbra commented on #142
This is a good idea.

However, I have a question, do you have an idea to how we know if there are any new scripts, before we have tried running them?

[2021-12-17 11:55] erikbra commented on #22
The whole issue was apparently connection pooling. I don't know exactly, but we use a lot of different connection string (multiple databases), so we get one connection pool per  connection, and (not very surprisingly), there seems to be quite a lot of overhead creating a connection pool, at least when we only use each pool a small amount of time, and then move on.

[2021-12-17 11:56] #22 closed

[2021-12-17 16:34] erikbra commented on #59
Fixed (no auto-push yet, but I don't know if we need that either. Could do later.

[2021-12-17 16:34] #59 closed

[2021-12-17 17:23] #150 closed

[2021-12-18 09:56] erikbra commented on #61
This is dependent on someone re-doing the enormous effort of making dotnet available as a brew formulae, and get it updated for .net 6 (ref https://github.com/dotnet/source-build/issues/2602#issuecomment-967695988)

dotnet is only available for .net 5 as a formula: https://github.com/Homebrew/homebrew-core/blob/master/Formula/dotnet.rb

[2022-01-20 21:17] RachelAmbler opened #167 "Database already exists exception - Database Name is always Case Sensitive even when it shouldn't be"
When running a deployment I'm getting the following exception raised:
`Unhandled exception: Microsoft.Data.SqlClient.SqlException (0x80131904): Database 'RetractedDatabaseName' already exists. Choose a different database name.`

This is the command line:

`-cs "Data Source="RetractedServerName.test.local, 1433";Initial Catalog=RetractedDatabaseName;Trust Server Certificate=True;Authentication=Acti

[2022-01-20 21:56] wokket commented on #167
Grate is designed to run against existing databases just fine, that flag indicates whether to create a database if it _doesn't_ exist yet, so there's something deeper going on here...  Do you have a (suitably redacted) log trace you can upload showing the exists checks etc going on prior to trying to create?

[2022-01-20 22:14] RachelAmbler commented on #167
Yeah - I can get at that and send it to you later tonight or early tomorrow. Thanks!

[2022-01-20 22:23] RachelAmbler commented on #167
So, what's the best way to generate this log trace? Just with `--Verbose Debug` or `Trace` - or someway else?

[2022-01-20 22:25] wokket commented on #167
`--verbosity` flag is perfect.

[2022-01-20 22:27] RachelAmbler commented on #167
[code]

[2022-01-20 23:23] wokket commented on #167
Thanks for that...  there was no other debug info logged prior to the exception?

You can see the logic in `CreateDatabaseIfItDoesNotExist` [here](https://github.com/erikbra/grate/blob/c36b3cb5d850db5ca683582ce507f876c2289549/grate/Migration/GrateMigrator.cs#L191-L205), and it's very specifically only creating if it fails the `Exists()` check.

My suspicion is that we might have a case sensitivity

[2022-01-21 00:00] RachelAmbler commented on #167
I think it might indeed be the case - although not on the SQL Server side. Before I run the grate command I call a `sqlcmd` script where I pass the exact same Database name in to get the `Db_Id()` and it returns a value.

However the case in the name I'm sending doesn't match the one on SQL Server. Must be something in `grate` that's balking at the case.

[2022-01-21 00:03] RachelAmbler commented on #167
Gonna guess that the `databases` collection is Case Sensitive? If so then `return databases.Contains(DatabaseName);` will fall over on the case.

[2022-01-21 00:14] RachelAmbler commented on #167
So I've been able to get past this exception for now - as I mentioned I was already doing a check beforehand and getting the `Db_Id()` value. I changed that to do a `IsNull(Db_Name(Db_Id('${Database}')), '.')` which now returns back the same case name of the database as is stored on SQL Server, thus skating past the problem.

That said, this is still most defiantly a bug. Just not one that my Pull

[2022-01-21 00:17] wokket commented on #167
So just confirming - passing the database name with the came case as the server works, but fails on a casing difference?  And you have a non-case-sensitive collation running on the server?

[2022-01-21 00:20] RachelAmbler commented on #167
That is correct.

e.g. If my Database Name is HiFiSounds then

[code]

will return back the exact same underlying `database_id` value. Passing `HiFiSounds` to grate will work fine, but passing `hifiSOUNDS` will cause the aforementioned exception.

[2022-01-21 00:25] RachelAmbler commented on #167
Getting a list of databases and looking for a match outside of the RDBMS isn't possibly the best approach. Sure you could make the collection case-insensitive but then that might cause issues when you DO have a Case Sensitive collection.

Would a better way be to do what I'm basically doing outside of `grate` and making a Database call to confirm existence - that way you'd always be operating unde

[2022-01-24 21:53] erikbra commented on #167
Hi, @RachelAmbler , sorry to chime in so late, but, being late paid off, you already seem to have solved the issue :)
I do think you're right, though. It would make sense to use the database itself to decide whether a database exists or not, because then we would honour any particularities around casing (and any other possible issues) that the particular database might have.

That said, I also thi

[2022-01-25 22:01] RachelAmbler commented on #167
@erikbra I'm having a hard time finding any negatives to your proposal.

[2022-04-12 00:08] wokket commented on #115
I haven't looked in a while, but I thought you _could_ pass tokens on the conn string?

Eg see https://www.connectionstrings.com/ole-db-driver-for-sql-server/azure-active-directory-authentication-with-access-token/

Does the SqlClient parse this differently to OleDB?

[2022-04-28 15:20] kimjamia commented on #115
I tried passing that connection string to both `System.Data.SqlClient.SqlConnection` and `Microsoft.Data.SqlClientSqlConnection` and both first complain:

After I remove the "Provider=" part, they both complain:

Neither list `Access Token` or anything token-related as supported keywords in the documentation.
* [system.data.sqlclient.sqlconnection.connectionstring](https://docs.microsoft.com/en-us

[2022-05-29 22:04] wokket commented on #167
@erikbra FYI this has just bitten me too so I'm going to get a PR to you as soon as I get a chance to fix the issue.

[2022-05-30 22:00] DjKillerMemeStar commented on #112
Having my first go at contributing to an open source project, also not a Github expert so forgive my mistakes!

I've put a pull request in draft to solve this issue, i still need to write more tests and think about a way to smootly migrate current grate implementations.
https://github.com/erikbra/grate/pull/196

Any feedback is very much welcome!

[2022-05-30 22:47] DjKillerMemeStar commented on #67
I would put required ones on top and then go by what's most used/most important.
I can have a look at this tomorrow!

[2022-05-30 22:50] DjKillerMemeStar commented on #142
@erikbra Might be overkill, but what if we create a hash of all the files in the folders and store that somewhere?
Or even just keep track of the amount of files?

[2022-05-31 01:29] wokket commented on #112
Hey mate,

Good on you for putting your hand up to help.  I'll have a proper look at your PR tonight once I knock off real work!

[2022-06-03 06:55] #67 closed

[2022-06-05 14:52] #167 closed

[2022-06-07 15:11] DjKillerMemeStar opened #198 "Add support for different folder names"
In a RoundhousE deployment I manage we use different names for the folders then those default specified. RoundhousE has support for these with these parameters "-up" "-sp" "-permissions". It would be nice if grate supported these, as we cannot update to grate without changing our internal workings with the tool.

The reason why we work like this is we have 3 folders

- "1. OnlyOnce" (-up)
- "2. On

[2022-06-07 20:29] wokket commented on #198
Hey mate, good catch 👍

I missed this when building the docco for RH features we don't yet support, so a PR to add custom directory names, or tweak the docco highlighting the missing feature is very welcome.

I'm hoping to get a new release published in the next day or two with 6 months of fixes/enhancements included, but this would be great to see in vNext+1 :)

[2022-06-07 22:36] DjKillerMemeStar commented on #198
@wokket already on it :)

I would make it so we can add custom names for all folders if that is ok for you?

[2022-06-07 22:38] DjKillerMemeStar commented on #117
I have a tiny bit of experience with Service Fabric and i know we have hosted python containers in there. I could have a look how we do it for that and maybe create an exampld based on that?

[2022-06-08 00:39] wokket commented on #198
Yep. if we're going to do the work then full backwards compat with the options in RH is the goal.

[2022-06-08 05:30] wokket opened #199 "Docker Hub token in build secrets seems to have expired"
@erikbra I took the liberty of pushing [a new release](https://github.com/erikbra/grate/releases/tag/1.3.0) today, however [the docker step of the build pipeline](https://github.com/erikbra/grate/runs/6787454578?check_suite_focus=true) has failed to connect to Docker Hub.

I rightfully don't have any access to the pipeline secrets, would you mind checking on this when you get a chance??  I don't u

[2022-06-08 05:43] erikbra commented on #199
Hi, @wokket . I saw that you pushed a release, and I really appreciate it! This is what open source is all about, cooperation :) and I know I haven't been super-active here lately, as I have had a lot of other stuff to do in other parts of my life (you know, life, work, etc 😆 )

I'll look into the docker token:)

[2022-06-08 05:50] erikbra commented on #199
The docker hub token looks good, but the issue is probably due to using github.actor in the pipeline step, because that is probably not me when someone else has triggered the build:

<img width="521" alt="image" src="https://user-images.githubusercontent.com/1628994/172541213-f91160a8-ca79-44f0-b547-c40946747bf8.png">
https://github.com/erikbra/grate/blob/main/.github/workflows/build.yml#L174

I r

[2022-06-08 06:00] erikbra opened #200 "Replace github.actor with an environment variable in docker login step of pipeline"
**Describe the bug**
The login to docker hub does not work if anyone else than me triggers the pipeline

**To Reproduce**
Trigger the push-to-docker pipeline step being someone else than me

**Expected behavior**
The docker login step should succeed

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Actual fix**
Replace

[code]

in https://github.com/erikbra/grate/blo

[2022-06-08 06:00] erikbra commented on #199
I created a new issue for the actual fix: https://github.com/erikbra/grate/issues/200

[2022-06-08 06:00] #199 closed

[2022-06-11 12:07] erikbra commented on #117
Thanks a lot, @DjKillerMemeStar ! I'd appreciate that. I don't think the main issue is hosting grate in a container, though, but how you should/would actually _use_ it in a Kubernetes setting. Would you create an init container? Would you create a background service that watches a folder for changes? Something totally different?

Do you have any thoughts on this? Maybe the question is too generic,

[2022-06-11 12:25] erikbra commented on #198
Great initiative, @DjKillerMemeStar . I didn't quite see the need for this feature when initially porting RH to grate, and thought it to be gold-plating, but of course, backwards-compatibility, and, as you say, maybe simplifying the directory structure, could be an aim here.

[2022-06-11 22:47] DjKillerMemeStar commented on #198
@erikbra yes indeed! After my holiday i'll look into putting this in + including an option for the folder names roundhouse forgot/didn't want to include.

[2022-06-11 22:52] DjKillerMemeStar commented on #117
I don't really see a point in hosting grate yourself. It's just install on the build server any way you like and run it. This seems like a way easier way to do it. Ofcourse, people/situations differ so i'm not sure.

Maybe the question could be rephrased to beter explain what you mean. It's more of a "why would you use grate in a container" then a how in my eyes. Could ofcourse be wrong here 😄.

[2022-06-11 22:57] wokket commented on #117
I had a project where the build server (AzDo) didn't have access to the Sql Server (firewalled/PrivateLink/something weird???) but the k8s cluster obviously did have access.  As noted above, we'd build the container like the sample and just `kubectl run` a one-off instance from the pipeline.

[2022-06-11 23:01] DjKillerMemeStar commented on #117
Ow yeah, makes sense, sorry bout that!

We just use our own agents so bypass any firewall restrictions etc, but that is ofcourse not possible for everyone.

From that standpoint i don't see anything wrong with your approach of an one-off instance.

[2022-06-14 12:41] DjKillerMemeStar opened #202 "Add grate as an Dot Net Core global tool"
**Is your feature request related to a problem? Please describe.**
For a project i'm working on, we use RoundhousE with the dotnet global tools to install it to the Azure Hosted Agents, this is super easy as we just need 1 command to install RoundhousE and one command to run it. No special installs or tools.

**Describe the solution you'd like**
We should make it possible to download grate as an g

[2022-06-14 19:47] wokket commented on #202
https://erikbra.github.io/grate/getting-grate/#dotnet-tool

[2022-06-14 20:21] DjKillerMemeStar commented on #202
Ow wauw i'm stupid. Thanks!

[2022-06-14 20:21] #202 closed

[2022-06-16 06:27] erikbra commented on #198
Perfect, thanks a lot!

And, if there are any questions I can help answering underway too, just give me a shout, of course.

[2022-06-16 06:30] erikbra commented on #117
I'm just thinking a bit further on this one. It might seem like I'm trying hard to create a use case for something that isn't, but, if you compare to, say EF migrations, where the migration is performed on application startup, would it make sense to create an example where grate is used in an init container, mounting the database scripts in a volume there, and running them on startup, before the a

[2022-06-16 06:35] erikbra commented on #202
Glad the feature was already in place :)

Would making an Azure Devops pipeline extension for grate (like this one for GitVersion, e.g? https://marketplace.visualstudio.com/items?itemName=gittools.gittools), with the parameters and everything easily available from the Azure Devops pipeline Yaml editor GUI? Or is that gold-plating?

[2022-06-16 09:54] wokket commented on #117
I can see the comparison with EF Migrations (which fwiw I don't like for various reasons, hence being here).

A sample for a migrarion style workflow would obviously be useful if that's a workflow you want to push, via either
- init containers (which I have no experience with), or
- referencing grate via nuget (which I think RH had support for?? I never used it) and running a migration on app star

[2022-06-21 12:33] erikbra commented on #198
Just a thought, maybe we should just make the whole folder structure(s) configurable, just make it possible to make an ordered list of folder names, with folder type (OneTime, AnyTime, Everytime), so that it could fit different ways of thinking about this?

[2022-06-21 14:55] erikbra commented on #198
Yes, this is a very good suggestion. But, I'm a bit sceptical to this example. Doesn't that mead that all folders of type "OneTimeScripts" would be bundled together?

https://docs.microsoft.com/en-us/dotnet/standard/commandline/syntax#multiple-arguments

So we cannot have an ordered list of folders, where different folder types are intertwined? We'd get all of one type, then the next, etc, wouldn'

[2022-06-22 01:32] wokket commented on #198
Berko busy here so not a lot of thought gone into this, but assuming we can change the execution type of a file by filename (https://erikbra.github.io/grate/script-types/everytime/#everytime-scripts) then could we hit your "infinitely configurable folder options" by just allowing the original folder name suggestion, and combine that with custom file names?

In theory that would let you have a sing

[2022-06-22 09:06] erikbra commented on #198
I'm not sure I exactly understand your suggestion, however, I would very much like to be able supporting existing folder structures (say, for someone coming from other tools), and not force any changes to folder structure or script naming upon people.

Looking at GrateMigrator, most of the folders can just be put in an ordered list, and it can probably still work:

https://github.com/erikbra/grate

[2022-06-22 21:58] wokket opened #203 "CommandTimeout may not be working"
**Describe the bug**
I've just spent a few hours fighting with a prod deploy, which included a `Create Index` script  repeatedly timing out in a short duration, despite the `-ct` parameter being set to increasingly large numbers.

I need to do more investigation to confirm it's a code bug, rather than me misusing the command line param or a docco bug.

**To Reproduce**
Run a long running script wi

[2022-06-23 21:16] wokket commented on #198
Sorry, as I said a little scatter brained here atm.

Your latest post also renders my previous one redundant due to the extra complexities in meeting the 'Fully Configurable' spec.

My point was that your 2b above (we need to know what type of file it is) can already be catered for via special casing the filename (.everytime. etc).  If we allowed folder name overrides (the original request, meets

[2022-06-28 11:49] aeons opened #204 "`--dryrun` does nothing in combination with `--baseline`"
**Describe the bug**
Dry running a baseline does not work.

**To Reproduce**
Run `grate -cs $CS --baseline --dryrun`. Observe that `grate` has applied the baseline to the database, created a `grate` schema, three tables and marked the migrations as run.

**Expected behavior**
`grate` prints what would happen, but does not write anything to the database.

[2022-06-30 22:23] wokket commented on #204
Thanks for reporting this, I'll endeavour to get a fix in ASAP for you once I can find some time.

[2022-07-05 07:19] DjKillerMemeStar commented on #198
I've not had alot of time to think about this, but the best thing i can come up with is to have the ability to send over a json string in a parameter with all the info, this would make it pretty complex tho.

I'm also thinking my suggestion might work if we parse the parameters ourselfs instead of using the build in parameter parsers. But not sure how that works.

[2022-07-06 21:57] #204 closed

[2022-07-06 21:59] wokket commented on #203
I've merged this in so you can build from source if that's feasbile, and means the fix is definately in the next release.

I'll give @erikbra another day or so to respond, and generate a new release after that.

[2022-07-07 02:57] wokket opened #207 "Docs: Token markdwon doesn't render nicely on the docs site"
On github:
![image](https://user-images.githubusercontent.com/3802829/177680861-7780fef1-5811-44d0-8051-279c0938ae42.png)

On the docs site:
![image](https://user-images.githubusercontent.com/3802829/177680944-b4f4813d-a960-4190-a4cc-eb234eea83b4.png)

[2022-07-08 08:55] #200 closed

[2022-07-08 09:41] wokket opened #209 "Winget package not updating after build"
I've just pushed the updated 1.3.2 release, and was checking it had arrived on the various platforms, and noticed winget is still sitting on 1.2.0.

This means the two releases I've pushed haven't gone to winget.

We need to get the winget updates happening as part of the build, or add some docco explaining the release procedure so I know what to do 😄

[2022-07-08 14:08] jwright-linq commented on #209
It appears winget manifests are in the `installers/winget/grate/manifests/e/erikbra/grate` directory.
In order to submit to the winget package repo, you should only need to do a couple steps.

1. Ensure [winget](https://github.com/microsoft/winget-cli) is installed on your machine.
2. install [wingetcreate](https://github.com/microsoft/winget-create) is installed.
3. update the manifest with the n

[2022-07-13 15:56] twerthi opened #211 "Add ability to bypass database creation"
**Is your feature request related to a problem? Please describe.**
The wording of the `--adminconnectionstring` is confusing as it states `...if you want to create the database`.  This makes me think that if I set this configuration option to blank, it will bypass the checking and create if not exists portion of the code.  However, setting it to blank fails as it can't find a host to connect to.

[2022-07-16 22:01] wokket commented on #211
Hey @twerthi,

Sorry for the delay getting back to this, my world is crazy right now.

We do [have code support](https://github.com/erikbra/grate/blob/70decb440299ddf3f31ed5bf50b3d81edcc033a5/grate/Configuration/GrateConfiguration.cs#L54) for not creating the database, but it doesn't look be exposed on the commandline yet, oops!

I agree that the wording around `AdminConnectionString` doesn't conv

[2022-07-18 22:19] wokket commented on #115
Just following up on this as I've run across it elsewhere: Modern versions of the SqlClient (as used in grate) have baked in support for acquiring and using tokens without requiring more than a connection string.  See the [MS docco](https://docs.microsoft.com/en-us/sql/connect/ado-net/sql/azure-active-directory-authentication?view=sql-server-ver15#using-active-directory-managed-identity-authentica

[2022-07-18 22:41] wokket commented on #211
Yep, that aligns with the code I linked above assuming 'master' if the admin string isn't set... At least you have a workaround for now.

I doubt I'll have a chance to look into this much deeper this week, but will try and get a release published for you when I can.

[2022-07-18 22:46] twerthi commented on #211
Understood, thank you for letting me know :)  I was wondering if that was the case, I'd perused the code and saw that 'master' part, but wasn't entirely sure I was looking in the right spot.

No worries on getting the release out, I have other things I can work on :)  Not sure if I mentioned it, but testing with a GCP Service Account worked well ;)

[2022-07-20 16:16] grrttedwards commented on #117
There is the init container pattern described here: https://andrewlock.net/deploying-asp-net-core-applications-to-kubernetes-part-7-running-database-migrations/#combining-jobs-and-init-containers-to-handle-migrations

[2022-07-22 21:08] erikbra commented on #198
Sorry for the lack of feedback here, I've been on vacation (sorry, but not sorry 😉 ). I have started to look at this, in a branch, but I see that some of the logic about stuff that should be ran in a separate, autonomous transaction, is not run in all cases. So I have wrote som (now failing) tests for that, and are working on solving those issues in the existing code base before changing it. I'll

[2022-07-23 01:22] najeraz opened #215 "Migrating MariaDB's existing database with a case insensitive environment and getting the error: Can't create database 'dbname'; database exists."
**Describe the bug**
When migrating an existing database using a name with a different case, grate tries to re-create it when the MariaDB instance and the environment have enabled the case insensitive.

**To Reproduce**
- Run a MariaDB instance with the environment variable lower_case_table_names as 1 with:
-- `docker run --name GrateTestCaseInsensitive -p 49185:3306 -e MYSQL_ROOT_PASSWORD=mypass

[2022-07-23 06:46] najeraz commented on #215
Added a PR https://github.com/erikbra/grate/pull/216

[2022-07-23 12:20] erikbra commented on #211
Hi, guys. Happy to see that various corner cases are being explored here. I _did_ think exposing the "create/don't create database if it doesn't exist" option wasn't necessary anymore in grate, as we use a different strategy than RoundhousE did on checking whether the database exists or not (try to connect, if it fails with a specific exception, assume it doesn't exists).

But I might have been wr

[2022-07-23 12:45] erikbra commented on #115
Nice, thanks, @wokket ! I think this should solve the issue, do you agree, @kimjamia ?

[2022-07-24 19:13] erikbra opened #219 "Scripts that should always run, even on failure, do not run on failure"
**Describe the bug**

There are some scripts which are expected to run, even if there are some invalid scripts in some other folder, and the migration is rolled back. These are:
* BeforeMigration
* AlterDatabase
* Permissions
* AfterMigration

It's not totally clear to me why the intended behaviour, inherited from RoundhousE, is such, but, as the goal is to be fully backwards-compatible with Round

[2022-07-24 19:30] erikbra commented on #219
Fixed in #220

[2022-07-24 19:30] #219 closed

[2022-07-28 18:40] erikbra opened #221 "Change verbosity levels to the recommended ones by System.CommandLine"
**Is your feature request related to a problem? Please describe.**
The verbosity levels are p.t. linked to the default values in Microsoft.Extensions.Logging (see https://erikbra.github.io/grate/configuration-options/)

However, the documentation for System.CommandLine recommends different verbosity levels, in line with other command-line tools, like e.g. `dotnet`, and `msbuild`. I think those are

[2022-07-31 19:10] twerthi commented on #211
I was using MySQL on Azure testing with an Azure Managed Identity.  The account isn't a superuser so it is unable to query the `mysql` database so the check to see if the database exists always returns false.  The process I was using first created the database  using the admin username/password then gave full rights to the database to the Managed Identity.  This would always fail because it would

[2022-08-12 14:37] jbergens commented on #142
+1

[2022-08-12 23:53] wokket commented on #142
I've started looking into this, given the ease we can elevate the folder exists check [here](https://github.com/erikbra/grate/blob/main/grate/Migration/GrateMigrator.cs#L260-L264) up a method and return early we can definitely quieten the output for non existent folders, which in my sample-size of one is far more common than fully created folder heirarchies that just don't have files in them.

My

[2022-08-13 12:42] erikbra commented on #142
Great to see you have started thinking about this, @wokket !!

Could the following logic work?

* For each folder we process:
  * In the beginning, check if the folder exists. If it doesn't, only output a very minimal message, à la:
     `"Skipping runAfterFirstUp, xxxx folder does not exist".`
  * If it _does_ exist, write the same as today, `"Looking for {FolderName} scripts in \"{Path}\".{Messa

[2022-08-21 03:58] twerthi commented on #211
Any update on this?  Still blocked on creating the Step Template for Octopus Deploy until I can get around this issue.

[2022-08-21 21:28] #142 closed

[2022-08-21 22:09] #198 closed

[2022-08-25 21:00] erikbra commented on #211
Hi, @twerthi , very sorry about the delay here. I have work in the daytime too ;)

I simply cannot get this to reproduce. If I create a user first with MySql (locally, in docker), with rights only on the newly created database, I still get a list of databases, but it only contains the newly created database, and INFORMATION_SCHEMA. I create the following user, with the following grants:

[code]

A

[2022-08-25 21:13] twerthi commented on #211
First, thank you for taking the time to try to reproduce, wanted to make sure I appreciate it.

In my case, I was using an Azure MySQL server instance along with an Azure Managed Identity account assigned to a VM.  Using the directions from https://docs.microsoft.com/en-us/azure/mysql/single-server/how-to-connect-with-managed-identity, I would add the user account so the managed identity had acces

[2022-08-27 21:57] erikbra commented on #211
Hi again, @twerthi - of course I need to try to reproduce, I don't want bugs ;)  - thanks for taking the time to report details.

I'm not sure I understand fully (I might be a bit slow), but are you saying that it _does not_ work if you create the database prior to running grate? So it _does work_ if you let grate create the database, using the user you have created?

If I understood it correctly,

[2022-09-02 06:44] #211 closed

[2022-09-02 19:10] erikbra commented on #209
We should be able to do this as part of the release pipeline now: https://github.com/microsoft/winget-create#using-windows-package-manager-manifest-creator-in-a-cicd-pipeline

We need a separate build step, which runs on a Windows agent, and does what's described in the link above

[2022-09-02 20:17] wokket opened #230 "Grate is applying a case-sensitive comparison to Schema name in a case-insensitive SQL Server."
I'm migrating an existing RH db over to grate (on a case-insensitive SQL 2019 server), and when migrated with `grate --schema=roundhouse [other options elided]` it fails with:

[code]

Correcting the script to `grate --schema=RoundhousE [other options elided]` works correctly.

**Desktop (please complete the following information):**
 - OS: Windows 11
 - Version 1.3 and 1.4

[2022-09-02 20:31] erikbra commented on #230
Do you know if this is a new error/regression in 1.3, @wokket? or do you think it was always there?

[2022-09-02 20:54] erikbra commented on #209
Resolved with #231

grate 1.4.0 is on its way out to winget: https://github.com/microsoft/winget-pkgs/pull/77881

[2022-09-02 20:54] #209 closed

[2022-09-02 21:07] erikbra commented on #61
dotnet 6 works in homebrew now, so one can start on this one.

Ref: https://github.com/Homebrew/homebrew-core/pull/92991

[2022-09-02 22:29] wokket commented on #230
I'm not sure, I haven't gone back looking at earlier versions but can if you'd like.  This is the first RH project I've moved to grate.

[2022-09-06 02:19] wokket opened #232 "Regression in v1.4"
Our CI on an existing grate project has started failing, the final green build was on V1.3.2, the first failed build was V1.4, and it has failed every run subsequent.

This migration is targeting a `localdb` sql instance.  Script to run the CI migration is:

[code]

Updating the deployment script to force install V1.3.2 lets the migration complete successfully again, ie replace the update command

[2022-09-06 03:15] wokket commented on #232
Follow up: I can't repro this when running a locally compiled version of grate against the migration, either debug or release mode :(

100% reproducible when installed from `dotnet tool` or `winget`....  winget 1.4 is broken, 1.2 (the previous release) works fine.

[2022-09-06 22:14] wokket commented on #232
Finally got a repro in the tests, involving a `Drop` combined with an `Alter Database` in `RunAfterCreate`.

@erikbra I'm probably not going to get a chance to look at fixing this for a bit due to real™️work, but hopefully that repro is enough to help you nail it down.

[2022-09-08 13:43] RachelAmbler opened #235 "Incorrect exception message in Migration\OracleDatabase.cs: RestoreDatabase"
**Describe the bug**
`"Restoring a database from file is not currently supported for Maria DB."`

**To Reproduce**
In code

**Expected behavior**
"Restoring a database from file is not currently supported for Oracle."

https://github.com/erikbra/grate/blob/main/grate/Migration/OracleDatabase.cs#L74

[2022-09-08 19:37] RachelAmbler opened #237 "Typo in https://erikbra.github.io/grate/folder-configuration/"
**Describe the bug**
Folder types are documented as Anytime, EveryTime and Once.

The `Anytime` type should be `AnyTime` (Uppercase T to match Enum `MigrationType`)

[2022-09-12 22:05] RachelAmbler opened #243 "Various updates to SqlServerSyntax are needed"
Multiple issues: Things like `next` should be `NVarChar(Max), Double quotes are used where [] should be, the `ListDatabases` property needs to exclude system database, read only databases and unavailable databases. [] should be added in multiple other places to avoid potential errors.

I've already made these changes and I'll raise a PR for these later on.

[2022-09-13 13:27] cocytus opened #245 "Migration from roundhouse: Table names casing"
**Description**
Roundhouse uses lowercase table names, like "scriptsrun" in postgres due to the fact that the table name is not enclosed in "quotes". This means that when an existing postgres database created using roundhouse is updated using Grate, Grate considers no grate-schema to exist because of the casing differences (schema name is set correctly).

**To Reproduce**
Create postgres db using

[2022-09-13 22:10] wokket commented on #245
Thanks for letting us know about this @cocytus!

We have had a few case-sensitivity related bug in different DBMS's, for different reasons.  I personally only work with SqlServer (in a case-insensitive collation) so I've been slowly learning about all the ... _interesting_ ... ways things handle case, including that quoting behaviour when I was looking into #230 the other week.

As part of that ch

[2022-09-14 03:15] #237 closed

[2022-09-14 04:54] OzBob opened #247 "Test Connect Sql Server dotnet6 'SNIAddProvider' exception"
**Describe the bug**

local SQL Server DB, using grate.exe (64bit self contained) throws

**To Reproduce**
1 Download, unblock, unzip: grate-win-x64-self-contained-1.4.0 zip
2 run local example with winget commented out, and using local grate.exe

**Expected behavior**
```SNIAddProvider``` exception

**Screenshots**
console out:
[code]

**Desktop (please complete the following information):**
 - O

[2022-09-14 20:57] #235 closed

[2022-09-14 21:05] erikbra commented on #245
Thanks a lot, @cocytus for reporting! The goal is indeed to be backwards-compatible with RoundhousE, and a drop-in replacement. As I don't work much with PostgreSQL on a day-to-day basis, what would you recommend as the preferred solution here?

* Make grate also use only lower-case for our own migration table names
  * might be hard to change now, as it is breaking for any existing grate-users on

[2022-09-15 04:00] OzBob opened #249 "SQL Stored Procedure [schema].[storedprocname] should create the schema"
**Is your feature request related to a problem? Please describe.**
When a SQL Stored Procedure is named [schema].[storedprocname] then expect a schema to be created

**Describe the solution you'd like**
Create referenced schemas if missing:
Either examine the naming convention of the db objects, e.g sprocs
or
have a new folder called schemas

Create schemas before other objects.

**Describe altern

[2022-09-15 06:23] cocytus commented on #245
Hei!

* Grate lowercase by default: Agree, any existing users of grate would have grate break when upgrading - no good!
* Force renaming: Would make "testing" grate as a RH replacement riskier, because if you discover you have cases that only RH supports for some reason, you don't have an easy way back, Not that important maybe, and this _is_ a viable path, but... not preferred?
* Removing quotes:

[2022-09-15 10:18] wokket commented on #249
I have this requirement too, and just have a script in `up` that `create schema if not exists`, the same way we create tables before a sproc can reference them.

I wouldn't want to special-case ''we look inside your sql files to see if there's a schema that needs creating" when we don't do that for any other sql object.

[2022-09-15 11:10] wokket commented on #247
Are you really downloading the linux package and running on Windows 10?

I just ran both the local example as committed and it worked fine.

I then `winget uninstall erikbra.grate`, downloaded the winx64 self-contained package, extracted and unblocked the exe to the example folder, updated the ps1 to remove the winget install, and changed `grate` to `.\grate` to appease the PS gods, and _that_ wor

[2022-09-15 13:32] RachelAmbler commented on #249
I'd agree with @wokket : A schema is just another dependency that should be scripted out.

`grate` doesn't parse the contents of scripts - it just executes them. It has no way of understanding if the script is a stored procedure, a view, or even a create schema script. For all `grate` cares, the script could be a large file of multiple scripts doing different things. Not sure it would make sense t

[2022-09-16 02:37] OzBob opened #250 "obsolete ntext on [grate].[ScriptsRun].[text_of_script]"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
The Microsoft docs [docs.microsoft.com/ntext](https://docs.microsoft.com/en-us/sql/t-sql/data-types/ntext-text-and-image-transact-sql?f1url=%3FappId%3DDev15IDEF1%26l%3DEN-US%26k%3Dk(ntext_TSQL)%3Bk(sql1

[2022-09-17 17:27] erikbra commented on #250
Hi, @OzBob, thanks for your input! I think @RachelAmbler already has this covered with #246 . And, wouldn't the drop/alter solution here kill all existing data? I'd prefer keeping existing data, and changing the datatype of the column instead.

A quick question about having problems building, where did you get stuck? Could we improve the documentation on building grate yourself locally, maybe?

[2022-09-18 00:04] RachelAmbler commented on #250
You are correct - that was indeed one of the changes I put in.

[2022-09-19 03:55] OzBob commented on #250
Fair point on the loss-of-data, here's a loss-less method:

[code]

SSMS doesn't like executing that all at once, but run one line at a time works fine.

How do you manage migrations?

[2022-09-19 04:27] wokket commented on #250
I understand the desire to move to a non-deprecated datatype, and would support us moving to `nvarchar` for freshly created grate tables (as originally raised by @RachelAmbler).

I will point out that sql statements that aren't semicolon delimited [have _also_ been deprecated](https://learn.microsoft.com/en-us/sql/t-sql/language-elements/transact-sql-syntax-conventions-transact-sql?redirectedfrom=

[2022-09-19 05:49] OzBob commented on #247
@wokket I did actually download the 'grate-win-x64-self-contained-1.4.0' zip. I copied the link in the issue incorrectly.

I think you also need to change the grate to ```.\grate.exe``` to really appease the PS gods.  Maybe uninstall winget version and dotnet tools version so you can be sure it's not 'falling back' to them.

[2022-09-19 06:00] wokket commented on #247
I had uninstalled the other versions mate.  I have no doubt there's an issue of some sort there, but if I can't repro it there's not much I can do :(

[2022-09-19 07:48] OzBob commented on #247
perfectly understandable. maybe related to my inability to build the source code locally too.

[2022-09-19 13:49] RachelAmbler commented on #250
The issue as I see it here is adding extra functionality to `grate` _just_ for SQL Server. `grate` is by its very design a homogeneous application. I'd be worried by adding such functionality in that it 'skews' the app  into treating some RDBMS's as 'higher class' citizens than others.

Whilst I agree that this can be seen to be a slightly annoying issue to deal with, what I personally feel we sho

[2022-09-20 16:22] erikbra commented on #230
A thought which I had when thinking about casing in PostgreSQL schemas and tables, would this work for SQL server too?

https://github.com/erikbra/grate/issues/245#issuecomment-1252593334

[2022-09-20 16:27] cocytus commented on #245
That would work for all cases as far as I can understand. This was what I meant in my "alternative solution" mentioned above. I can create this unless you already have.

[2022-09-21 06:44] cocytus commented on #245
I updated the PR with the "detect table casing" solution.

[2022-09-22 13:35] kvanover opened #252 "Custom recreate database"
Is it possible to add a custom create database script (roundhouse -cds)?
ex -cds=createdatabase.sql

`USE master;
GO
DECLARE @Created bit
SET @Created = 0

IF NOT EXISTS(SELECT * FROM sys.databases WHERE [name] = '{{DatabaseName}}')
BEGIN
        Set @Created = 1
        CREATE DATABASE [{{DatabaseName}}]
        COLLATE Latin1_General_CI_AS
END

SELECT @Created`

Why? because we need to alter the

[2022-09-23 06:14] erikbra commented on #247
Hi, @OzBob , it's not good to know if this is a problem with your computer or grate. As you say, we _do_ trim the assemblies, and there might be corner cases where the trimming trims a bit too much.

If you want to build it properly "self-contained" yourself, you should also set the `-p:SelfContained=true` too, as in:

https://github.com/erikbra/grate/blob/main/.github/workflows/build.yml#L93

the

[2022-09-23 06:17] erikbra commented on #247
There are some SNI related troubleshooting tips here, I don't know if they are applicable, but at least is looks like SNI (Server Name Indication, I only just learnt that) is dependent on some native DLLs:

https://learn.microsoft.com/en-us/sql/connect/ado-net/sqlclient-troubleshooting-guide?view=sql-server-ver16#issues-in-net-core-applications

[2022-09-23 06:20] erikbra commented on #249
Thanks for your insights here, @wokket and @RachelAmbler . I agree with you, and beginning to implements features related to the actual contents of the scripts is a feature creep lane I wouldn't like to go down :)

Would just scripting up the schemas solving your particular use case, @OzBob ? You shouldn't need any "if exists" either, as the script is only run once, unless you change it

[2022-09-23 06:20] #249 closed

[2022-09-23 09:10] wokket commented on #230
I'm not in a position to really think through the repercussions there, but I added a test in my PR that you could use in another branch to see if it sorts the issue?

[2022-09-23 14:31] kvanover commented on #252
Tried a solution with the runAfterCreateDatabase:

`ALTER DATABASE [{{DatabaseName}}]
SET SINGLE_USER WITH ROLLBACK IMMEDIATE

ALTER DATABASE [{{DatabaseName}}]
COLLATE Latin1_General_CI_AS;

ALTER DATABASE [{{DatabaseName}}]
SET MULTI_USER`

but it failed with Resetting the connection results in a different state than the initial login. The login fails.

[2022-09-23 18:37] wokket commented on #252
Hey mate,

Yep, it looks like that feature didn't make it [into the docco](https://erikbra.github.io/grate/migrating-from-roundhouse/#rh-features-that-arent-yet-in-grate), so it also hasn't been picked up as a job to get done here yet.  I'll label this for back-compat.

The error you're getting using `runAfterCreateDatabase` is in a similar situation to #232, would you mind trting again using grat

[2022-09-23 19:27] kvanover commented on #252
Hey,

I have created a pull request for you with the changes => [https://github.com/erikbra/grate/pull/253](https://github.com/erikbra/grate/pull/253)

[2022-09-30 17:33] rmegal commented on #247
I am not using grate but received the same error when using "Trim unused code" in my build. I think @erikbra is on to something. The error disappeared when I quit using "Trim unused code", which is apparently too aggressive, at least in this case.

[2022-10-01 17:32] erikbra commented on #232
Hi, @wokket - I'm very sorry that I haven't had the time to reply to this before now. There is a lot of real work(TM) on my part as well.

I don't know exactly what is happening here, but I know that there was a bit of wonkiness with opening and closing the connection multiple times in previous versions of grate. That _might_ have had the effect that your script worked.

I'm not familiar with thes

[2022-10-01 21:23] erikbra commented on #245
Thanks a lot, @cocytus . I have looked at your PR with updates, and I think you have a lot of good stuff there!
I personally would prefer to:
* Skip the command-line parameter
* Accept all variations of table casing, not just "the canonical" and lower-case

I have looked a bit into an alternative solution, here, what do you think? https://github.com/erikbra/grate/pull/256

[2022-10-02 06:20] wokket commented on #232
Sorry mate, I've updated the script to match the MS sample, and it's still broken.  I'm afraid something has broken in that last release that stops me moving up to 1.4.

[2022-10-02 12:56] cocytus commented on #245
Hey,

Are you sure you're looking at the lastest version of my PR, the one I pushed 11 days ago? Because it has no command line parameter any more, it just detects the casing.

But sure, allowing any casing could also be done, as your PR solves. I have no strong feelings on what the best solution would be. Either would work in any real world scenario I'd think.

[2022-10-04 17:13] docrinehart commented on #142
@wokket / @erikbra - A bit late, but thanks for taking this on and pushing it through. Looking forward to updating my projects where I use it.

[2022-10-17 08:06] jbergens opened #265 "Document how to get exit code in build scripts"
**Is your feature request related to a problem? Please describe.**
Our build script on Azure Devops do not stop even if Grate has a problem. I think Grate returns -1 or 1 as an exit code but it looks like "dotnet run grate" does not forward this exit code to the Powershell script that Devops is using.

**Describe the solution you'd like**
Please add some documentation of how to make this work in t

[2022-10-24 14:45] jswright91 commented on #265
In my ADO instance, I've got the grate binaries being installed via dotnet tools, and then running the grate process through the grate command via dotnet.

'grate -c'... etc.

I'm not performing my ADO tasks during the build pipelines though, instead I am handling sql migrations in the release pipelines.

[2022-10-26 16:36] JordanMarr opened #268 "Script runs but doesn't change the database"
**Describe the bug**
I am trying out grate for the first time with a pre-existing SQL Server database.
My first and only script is `Migrations/up/'0001_Add_DrawingLogSheetNos_Id.sql` which has the following contents:

[code]

I then run with `grate -cs "myconnstr" -f "./Migrations"`.
According to the logs it has executed the script:

[code]

However, the column has not been added to the table.
(Ma

[2022-10-26 19:31] wokket commented on #268
At first glance that all seems as it should 😕

Would you mind running `grate` with the `-v Trace` param, and posting the full output here (with passwords etc redacted as needed)?

[2022-10-26 21:28] #268 closed

[2022-10-27 16:28] JordanMarr opened #270 "--transaction doesn't always work"
I have a single .sql file with a bunch of related schema refactoring steps in it:

[code]

I am running grate with the following options, including `--transaction` / `-t`:
[code]

I'm still working out errors in my script, so it hasn't fully completed without an error yet.
The problem is that sometimes the first step actually succeeds in creating the new `[Id]` column in the table! Other times, it

[2022-10-27 19:35] erikbra commented on #270
Hi, @JordanMarr . I'm not entirely sure, but I think the issue is with the `GO` statement, which is not really a T-SQL statement, but a batch terminator. And, when you issue that, the script is committed even though the transaction is rolled back.

I think the behaviour is similar to what is described here, if you set XACT_ABORT ON in T-SQL: https://www.codejourney.net/t-sqlssms-transaction-rollba

[2022-10-27 20:20] erikbra commented on #112
This should be fixed by #196

[2022-10-27 20:20] #112 closed

[2022-10-28 15:44] JordanMarr commented on #270
Thanks for the link. After reading the blog post, I would agree that this issue was likely caused as a result of the way SQL Server reacts differently to runtime errors vs design time errors.

[2022-11-30 15:03] mbp opened #280 ".NET 7 support"
Running "grate" within a Docker container `mcr.microsoft.com/dotnet/runtime:7.0`, outputs the following error message:

[code]

Is it possible to support system where only .NET 7 is installed?